.NavBar {
  background: #181818;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar h1 {
  font-weight: 900;
  font-size: calc(1rem + 3vw);
  color: white;
}

.NavBar h2 {
  font-weight: 700;
  font-size: calc(1rem + 1.5vw);
  color: white;
}

.NavBar p {
  font-weight: 500;
  font-size: calc(0.75rem + 1vw);
}
.NavBar a {
  font-weight: 900;
  font-size: calc(0.6rem + 1vw);
  color: white;
}
.NavBar li {
  font-size: calc(0.6rem + 1vw);
}
.NavBar code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar nav ul li {
  display: inline-block;
  margin: 1.5vw;
}

.NavBar nav ul li a {
  text-decoration: none;
  color: white;
}

.NavBar nav ul li a:hover {
  border-bottom: 5px solid var(--imp-text-color);
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar img {
  cursor: pointer;
}

@media (max-width: 990px) {
  .NavBar .Navigation {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
  }
  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #181818;
    border-top: 2px solid var(--imp-text-color);
  }

  .NavBar nav ul li {
    padding-left: 15%;
  }

  .NavBar {
    opacity: 1;
  }

  .NavBar a:hover {
    border-bottom: none;
    color: var(--imp-text-color);
  }
}
